<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Certificado</title>
    <link rel="stylesheet" href="telacadastro.css">
</head>
<body>
    <div class="conteudo">
        <form action="#" method="post" id="cadastro">
        <div class="cadastro">
            <div class="item">
                <label for="nome">Certificado de :
                    <input type="text" name="name" id="name" placeholder="Nome do certificado" style="padding:0.5rem;padding-right: 5rem; margin: 1%;width: 300px;" >
                </label>
            </div>
            <div class="item">
                 <label for="nome">Disponibilizado por:
                     <input type="text" name="empresa" id="empresa" placeholder="Empresa que Disponibilizou" style="padding:0.5rem; padding-right: 5rem; margin: 1%; width: 300px;">
                 </label>
            </div>
            <div class="item">
                <label for="nome">Data de inicio:
                    <input type="text" name="dataini" id="dataini" placeholder="Data inicial" style="padding:0.5rem; padding-right: 5rem; margin: 1%; width: 300px;">
                </label>
           </div>
           <div class="item">
            <label for="nome">Data de finalização:
                <input type="text" name="datafim" id="datafim" placeholder="Data final" style="padding:0.5rem; padding-right: 5rem; margin: 1%; width: 300px;">
            </label>
            </div>
            <div class="item">
                <label for="nome">Duração em horas:
                    <input type="text" name="duracao" id="duracao" placeholder="Duração do Curso/Bootcamp em horas" style="padding:0.5rem; padding-right: 5rem; margin: 1%; width: 300px;">
                </label>
            </div>


            <div class="button">
                <form action="#">
                <button  type="submit" id="cadastrar" name="btncadastrar" class="btncadastrar" >
                    Cadastrar
                </button>
                </form>
                <form action="telaprincipal.html">
                <button action="#" type="submit" id="cancelar" name="btncancelar" class="btncancelar" >
                    Cancelar
                </button>
                </form>
            </div>   
        </div>
        </form>
    </div>
</body>
</html>