<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificados</title>
    <link rel="stylesheet" href="telaprincipal.css">

</head>
<body>
    <div class="conteudo">
        <h1 class="title">Certificações Adiquiridas</h1>
        <div class="listacertificado">
            <table >
                <tr class="table">
                    <ol class="linhalista" >
                        <div>
                            <input type="checkbox">
                        </div>
                        <div class="desccertificado">
                            Certificação: Banco de dados <br>
                            Disponibilizado Por: Bradesco 
                        </div>
                        <div class="desccertificado">
                            Data de inicio: 03/05/2022 <br>
                            Data final:04/05/2022 <br>
                            Duração: 24h
                        </div>
                        
                    </ol>
                </tr>
            </table>
        </div>
        <div class="button">
            <form action="cadastro.html">
            <button action="cadastro.html" type="submit" id="cadastrar" name="btncadastrar" class="btncadastrar" >
                Cadastrar
            </button>
            </form>
            <form action="alterar.html">
            <button type="submit" id="alterar" name="btnalterar" class="btnalterar">
                Alterar
            </button>
             </form>
             <form action="">
            <button type="submit" id="apagar" name="btnapagar" class="btnapagar">
                Apagar
            </button>
            </form>
        </div>
    </div>
</body>
</html>